* {
    box-sizing: content-box;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
    margin: 0px;
}


/* Header*/

header {
    max-width: 1040px;
    background-color: #fff;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    display: grid;
    grid-template-columns: 150px 1fr repeat(5, 100px);
    grid-template-rows: 60px;
    align-items: flex-end;
    justify-content: center;
}

.navbar li a {
    color: #00A79D;
    text-align: center;
}

.navbar li a:hover {
    color: #444;
}

.menu-item-1 {
/*    background-color: green;*/
    grid-column-start: 3;
}

.current {
    border-bottom: 2px solid #FFC517;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 50px;
}


/* page body */

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1040px 1fr;
    grid-template-rows: 62px auto auto 150px;
}

.header-filler {
    grid-column: 1 / -1;
}

.page-item {
    grid-column-start: 2;
}


.hero {
    grid-row-start: 2;
}

.hero img {
    width: 100%;
}


/*
.hero-text {
    position: absolute;
    top: 150px;
    left: 16px;
    color: #fff;
    line-height: 100px;
    font-size: 60px;
    margin-top: 0;
    padding: 0px 15px;
    background-color: rgba(68, 68, 68, 0.51);
        margin-bottom: 80px;
    text-transform: uppercase;
}
*/

.main-content {
    grid-row-start: 3;
}

.main-content img {
    width: 100%;
}


/* footer*/


.footer {
    display: grid;
    grid-template-columns: 1fr 250px 250px 250px 1fr;
    grid-column-gap: 5px;
}

.getting {
    grid-column-start: 2;
}

.going {
}

.info {
}


.item {
    text-align: center;
    margin: 0px 20px
}

footer h1 {
    font-size: 18px;
    font-weight: bold;
        line-height: 22px;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
}

footer h2 {
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0px 0px 0px;
    text-transform: uppercase;
}

footer a {
    font-size: 14px;
    color: #000;
    text-decoration: underline
}
