/* Color schema

- yellow #ffc517
- black #333333
- grey #f6f6f6
*/

* {
    box-sizing: content-box;
}

a {
    text-decoration: none;
    color: #333;
}

strong {
    font-weight: bold;
}

medium {
    font-weight: 500;
    font-style: italic;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    /*    margin: 0;*/
    font-family: 'Roboto', sans-serif;
    background: #f6f6f6;
    margin: 0px;
    color: #333;
}

h2 {
    font-size: 20px;
}

/* Sticky social media bar*/

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
    color: #ffc517
}

.facebook {
    /* border: 3px solid black;*/
    background: #ffc517;
    color: black;
}

.twitter {
    /* border: 3px solid black;*/
    background: #ffc517;
    color: black;
}

.instagram {
    /* border: 3px solid black;*/
    background: #ffc517;
    color: black;
}


.content {
    margin-left: 75px;
    font-size: 30px;
}


/* Header*/

header {
    background-color: #fff;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 1040px 1fr;
}

.header-side {
    background: #fff;
}

.navbar {
    display: grid;
    grid-template-columns: 150px 1fr repeat(5, 110px);
    grid-template-rows: 60px;
    align-items: flex-end;
    justify-content: center;
}

.navbar li {
    display: grid;
}

.navbar li a {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar li a:hover {
    color: #ffc517;
}

.menu-item-1 {
    grid-column-start: 3;
}

.current {
    border-bottom: 2px solid #FFC517;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 40px;
}


/* page body */

.page-index-wrapper {
    display: grid;
    grid-template-columns: 1fr 1040px 1fr;
    grid-template-rows: 62px 369px auto 192px;
}


.header-filler {
    /* to fill the gap of the fixed header*/
    grid-column: 1 / -1;
}

.page-item {
    grid-column-start: 2;
}

.hero {
    grid-row-start: 2;
}

.hero img {
    width: 100%;
}


/* page body - main content*/

.main-content p {
    padding: 20px 100px;
    line-height: 1.4em;
}

.main-content h2 {
    padding: 80px 50px 35px 50px;
    line-height: 1.4em;
    text-align: justify;
}

.main-content h2.center {
    text-align: center;
}

.main-content img {
    width: 100%;
}


/* page body - bottom menu*/

.page-menu-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
}

.page-menu-items {
    height: 100%;
}

.page-menu-items li {
    height: 100%;
}

.page-menu-items img {
    height: 192px;
}


/* footer*/

.footer {
    background-color: #ffc517;
    margin-top: 20px;
    padding: 15px 0px 25px 0px;
    display: grid;
    grid-template-columns: 1fr 230px 230px 230px 230px 1fr;
    grid-column-gap: 5px;
}

.getting {
    grid-column-start: 2;
}

.going {}

.info {}

.contacts {}

.item {
    text-align: center;
    margin: 0px 20px
}

footer h1 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
}

footer h2 {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0px 0px 0px;
    text-transform: uppercase;
}

footer a {
    color: #333;
    font-size: 14px;
    text-decoration: underline
}



/* ** all pages */
.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1040px 1fr;
    grid-template-rows: 62px 369px auto;
}

.fa-external-link {
    margin-left: 10px;
}

.fa-external-link:hover {
    color: #ffc517;
}


/* ** events page */



/* events page */

.agenda {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

.agenda-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 5px solid #ffc517;
    border-left: 5px solid #ffc517
}

.agenda-content li {
    padding: 5px 20px 0px 20px;
}


/* ** style and taste page*/

.style {
    /*    margin-top: 50px*/
}

.style-places {
    display: grid;
    grid-template-columns: 1fr;
    /*    grid-row-gap: 20px;*/
}

.style-place-odd {
    display: grid;
    grid-template-columns: 33% 5px auto;
    padding-top: 70px;
    border-bottom: 5px solid #ffc517;
}

.style-place-even {
    display: grid;
    grid-template-columns: auto 5px 33%;
    padding-top: 70px;
    border-bottom: 5px solid #ffc517;
}

.vertical-separator {
    content: none;
    border-left: 5px solid #ffc517;
}


/* ** culture and landmarks page*/

.culture-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.culture-gallery-item {
    background: #fff;
    border: 10px solid #fff;
}

.culture-gallery-item h2 {
    padding: 10px;
    text-align: center;
    font-weight: 900;
}

.culture-gallery-item p {
    padding: 10px;
    text-align: left;
}

.culture-gallery-item.double {
    grid-column: span 2;
}

.culture-gallery img {
    height: 280px
}
