/* Color schema

- yellow
primary: #ffc517
mono:    #FFD863  
mono:    #CC9E12   

-blue
primary: #00A79D
mono:    #4CFFF4   
mono:    #267F7A 
*/

* {
    box-sizing: content-box;
}

a {
    text-decoration: none;
    color: #333;
}

strong {
    font-weight: bold;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f6f6f6
        ;
    margin: 0px;
    color: #333;
}

h2 {
    font-size: 20px;
}


/* Header*/

header {
/*    max-width: 1040px;*/
    background-color: #fff;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
    
    display: grid;
    grid-template-columns: 1fr 1040px 1fr;
}

.header-side {
    background: #fff;
}

.navbar {
    display: grid;
    grid-template-columns: 150px 1fr repeat(5, 110px);
    grid-template-rows: 60px;
    align-items: flex-end;
    justify-content: center;
}

.navbar li {
    display: grid;
}

.navbar li a {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar li a:hover {
    color: #444;
}

.menu-item-1 {
    /*    background-color: green;*/
    grid-column-start: 3;
}

.current {
    border-bottom: 2px solid #FFC517;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 50px;
}


/* page body */

.page-index-wrapper {
    display: grid;
    grid-template-columns: 1fr 1040px 1fr;
    grid-template-rows: 62px auto auto 192px;
    /*    grid-row-gap: 5px;*/
}


.header-filler {
    /* to fill the gap of the fixed header*/
    grid-column: 1 / -1;
}

.page-item {
    grid-column-start: 2;
}

/*
.page-item.main-content{
    margin-bottom: 50px;
}
*/

.hero {
    grid-row-start: 2;
}

.hero img {
    width: 100%;
}


/* page body - main content*/

.main-content p {
    padding: 20px 100px;
    line-height: 1.4em;
}

.main-content h2 {
    padding: 100px 100px 40px 100px ;
    line-height: 1.4em;
}

.main-content h2.center {
    text-align: center;
}

.main-content img {
    width: 100%;
}


/* page body - inner menu*/

.inner-menu {
    display: grid;
    grid-template-columns: 1fr repeat(5, 130px) 1fr;
    grid-column-gap: 10px;
}

.inner-menu .item1 {
    grid-column-start: 2;
}

.inner-menu .item4 {
    background-color: #00A79D;
}

.round {
    width: 130px;
    height: 130px;
    background-color: #ffc517;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    font-size: 1.3em;
}

.round-small {
    width: 80px;
    height: 80px;
    font-size: 1em;
}

.page-menu-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
}

.page-menu-items {
    height: 100%;
}

.page-menu-items li {
    height: 100%;
}

.page-menu-items img {
    height: 192px;
}


/* footer*/

.footer {
    background-color: #ffc517;
    margin-top: 20px;
    padding: 15px 0px 25px 0px;
    display: grid;
    grid-template-columns: 1fr 250px 250px 250px 1fr;
    grid-column-gap: 5px;
}

.getting {
    grid-column-start: 2;
}

.going {}

.info {}

.item {
    text-align: center;
    margin: 0px 20px
}

footer h1 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
}

footer h2 {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0px 0px 0px;
    text-transform: uppercase;
}

footer a {
    color: #333;
    font-size: 14px;
    text-decoration: underline
}



/* ** all pages */
.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1040px 1fr;
    grid-template-rows: 62px auto auto;
    /*    grid-row-gap: 5px;*/
}



/* ** events page */



/* agenda */

.agenda {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}


.empty {
    content: "";
        background-color: cornflowerblue;
}

.agenda-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 5px solid #ffc517;
    border-left: 5px solid #ffc517
}

.agenda-content li {
    padding: 0px 20px 5px 20px;
}


.y1 {
    background-color: #FFD863;
}

.y2 {
    background-color: #CC9E12;
}

.b1 {
    background-color: #4CFFF4;
}

.b2 {
    background-color: #267F7A;
}


/* ** style page*/

.style {
    margin-top: 50px
}

.style-places {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}

.style-place-odd {
    display: grid;
    grid-template-columns: 33% 5px auto auto;
    grid-column-gap: 10px;
}

.style-place-even {
    display: grid;
    grid-template-columns: auto auto 5px 33%;
    grid-column-gap: 10px;
}

.style-place-odd ul,
.style-place-even ul {
    align-self: center;
}

.vertial-separator {
    content: none;
    border-left: 4px solid #ffc517;
}


/* ** culture page*/

.culture-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    
}

.culture-gallery-item {
    background: #fff;
    border: 10px solid #fff;
}

.culture-gallery-item h2 {
    padding: 10px;
    text-align: center;
    font-weight: 900;
}

.culture-gallery-item p {
    padding: 10px;
    text-align: left;
}

.culture-gallery-item.double {
    grid-column: span 2;
}

.culture-gallery img {
    height: 190px
}

